.app-creation-modal {
  .container {
    max-width: 300px;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    background-color: white;
  }

  .title {
    text-align: center;
  }

  ion-button {
    margin-top: 10px;
  }
}


