ion-item {
  margin-bottom: 10px;
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-label {
  flex: 1;
  margin-right: 10px;
}

.radio-options {
  display: flex;
  flex-direction: column;
}
